@{
    ViewData["Title"] = "About";
}

    <div class="jumbotron">
        <h1>@ViewData["Title"]</h1>
        <h3>@ViewData["Message"]</h3>

      <div class="well well-sm">

        <ul>
            <li >C#</li>
            <li >Aspnet MVC</li>
            <li >MySQL</li>
            <li >Bootstrap</li>
            <li >HTML</li>
            <li >CSS</li>
            <li >JavaScript</li>
        </ul>
          </div>
     </div>
