@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="https://www.linkedin.com/in/guilhermehneves/">LinkedIn</a><br />
    <a href="https://github.com/gneves25/">GitHub</a>
</address>
