@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron">
        <h2>SALES MANAGER</h2>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>